body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   background: #292842;
   color: #A32DE6 ;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

.container h1 {
  font-size: 17pt;

}

.list_toggle{
  color: #fff;
}

nav {
  width: 100%;
  height: 40px;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-left: 60%;
}

nav li {
  margin-left: 25px;
  display: inline;
  color: #8BABC0
}


nav li:hover {
  text-decoration: underline;
}


input {
  margin-bottom: 10px;
  width: 100%;
}

input[type=text], input[type=date], input[type=time] {
  color: #FFF;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffF;
  margin-top: 10px;
}

input[type=time]{
  text-align: center;
}

input.half_width{
  width: 47%;
}
div.list_view{
  width: 100%;
  margin: 0px auto;
  text-align: center;
}


form{
  margin: 0 auto;
  width: 50%;
  text-align: left;
  margin-bottom: 5%;
}
.grid_view{
  display: none;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.top_row td p  {
  font-size: 0.8em;
  margin-top: 2%;
}

.bottom_row{
  border-bottom: 1.5px solid #A32DE6;
}

.bottom_row td p{
  font-size: 1.2em;
  margin-bottom: 2%;
}

.event_title{
  color: #FFF;
}

table{
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.left{
   float: left;
}

.right{
   float: right;
}

td  p{
  margin: 0px;
}

.add_button{
  width: 33%;
  margin-left: 33%;
  margin-top: 5%;
  background-color: #8BABC0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  height: 1.5em;
}

.col-xs-3 {
  position: relative;
  min-height: 180px;
  float: left;
  width: 30%;
  margin-left:1.5%;
  margin-right: 1.5%;
  background-color: white;
  margin-top: 3%;
  border-radius: 2px;
}

.grid-container  {
  width: 30%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  max-height: 100%;
}

.tile_header{
  background-color: #8BABC0;
  text-align: right;
  margin-top: 0;
}

.tile_header p{
  margin: 0px;
  padding: 10px;
  line-height: 1.5;
  color: #292842;
  font-size: 0.8em;
}

.tile_text{
  color: #292842;
  text-align: left;
  margin: 5%;
  margin-top: 8%;
  font-size: 1.1em;
}

.tile_text p {
  margin: 10px;
}





