body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container h1 {
  font-size: 17pt;

}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}


input {
  margin-bottom: 10px;
}

input[type=text], input[type=date] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
}

div.list_view{
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.grid_view{
  display: none;
}

.bottom_line{
  border-bottom: 1px solid #000000;
}

table{
  text-align: left;
  margin: 0 auto;
  width: 50%;
}
