<div class="grid_view">

  <div>

    <% @events.reverse_each do |event| %>
      <div class="col-xs-3 grid-container">
        <header class="tile_header">
          <p><b><%= (event.start_date).strftime("%a")%></b><p>
        </header>
        <p><%= event.title %></p>
      </div>
    <% end %>
  </div>
</div>
