<form class="create_event" action="/events/create" method="post">
  <input placeholder="What" type="text" name="title"><br>
  <input class="half_width left" placeholder="Start Date" type="text" onblur="(this.type='text')" onfocus="(this.type='date')" name="start_date">
  <input class="half_width right" placeholder="End Date" type="text" onblur="(this.type='text')" onfocus="(this.type='date')"  name="end_date"><br>
  <!-- <input value="Start Date" type="date" name="start_date"><br> -->
  <!-- <input placeholder="End Date" type="date" name="end_date"><br> -->
  <input placeholder="Where" type="text" name="location"><br>
  <input class="half_width left" type="time" name="start_time">
  <input class="half_width right" type="time" name="end_time"><br>
  <input class="add_button" type="submit" value="Add Event">

</form>


<%= erb :_list %>
<%= erb :_grid %>
