<div class="list_view">
  <form class="create_event" action="/events/create" method="post">
    <input placeholder="What" type="text" name="title"><br>
    <input placeholder="Start Date" type="text" onfocus="(this.type='date')"  name="start_date"><br>
    <input placeholder="End Date" type="text" onfocus="(this.type='date')"  name="end_date"><br>
    <!-- <input value="Start Date" type="date" name="start_date"><br> -->
    <!-- <input placeholder="End Date" type="date" name="end_date"><br> -->
    <input placeholder="Where" type="text" name="location"><br>
    <input type="time" name="start_time">
    <input type="time" name="end_time"><br>
    <input type="submit" value="Add Event">

  </form>

  <ul class="events_list">
    <% @events.reverse_each do |event| %>
      <li><%= event.title %> <%= (event.start_date).strftime("%a") %> <%= (event.start_time).strftime("%I:%M%p")  %></li>
    <% end %>
  </ul>
</div>

